{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'UTrade_app/css/style.css' %}?v=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'UTrade_app/img/U.png' %}" />
    <title>
      {% block title %}
        My Site
      {% endblock %}
    </title>
  </head>
  <body>
    {% with url_name=request.resolver_match.url_name %}
      <nav class="p-4 transition-all duration-300 
    {% if url_name == 'user.login' or url_name == 'user.register' or url_name == 'product.create' or url_name == 'product.list' %} 
       bg-white shadow-md
        {% else %}      
       bg-green-400
        {% endif %}">
        <div class="flex justify-between items-center px-4">
          <ul class="flex font-medium space-x-6 
        {% if url_name == 'user.login' or url_name == 'user.register' or url_name == 'product.create' or url_name == 'product.list' %}
           text-green-500
            {% else %}
           text-white
            {% endif %}">
            {% if url_name == 'landingpage' or url_name == 'user.login' or url_name == 'user.register' %}
              <li class="hover:opacity-70 cursor-pointer">Home</li>
              <li class="hover:opacity-70 cursor-pointer">About</li>
              <li class="hover:opacity-70 cursor-pointer">Contact</li>
              <li class="hover:opacity-70 cursor-pointer">
                <a href="{% url 'user.login' %}" class="hover:opacity-70 transition-all">Login</a>
              </li>
              <li class="hover:opacity-70 cursor-pointer">
                <a href="{% url 'user.register' %}" class="hover:opacity-70 transition-all">Register</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'product.list' %}" class="hover:opacity-70 transition-all">Browse</a>
              </li>
              {% comment %} <li>
                <a href="{% url 'product.create' %}" class="hover:opacity-70 transition-all">Add Products</a>
              </li> {% endcomment %}
              <li>
                <a href="{% url 'user.account' %}" class="hover:opacity-70 transition-all">Account</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% endwith %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>© 2026 My Website</p>
    </footer>
  </body>
</html>
