#thumbGallery {
    scrollbar-width: thin; 
}
#thumbGallery::-webkit-scrollbar {
    height: 6px; 
}
#thumbGallery::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 10px;
}
.thumbnail-wrapper:hover {
    opacity: 0.8;
    transition: 0.3s;
}
#mainDisplayImage {
    transition: opacity 0.3s ease-in-out;
}

.thumbnail-wrapper {
    transition: all 0.2s ease;
}

.thumbnail-wrapper:hover {
    transform: scale(1.05);
    border-color: #198754 !important;
}